@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Special+Elite&display=swap");
/*
font-family: 'Special Elite', cursive;
font-family: 'Josefin Slab', serif;
*/

:root {
	--logo-color: hsl(30 60% 50%);
	--color-2: hsl(46 44% 74%);
	--color-3: hsl(174 8% 24%);
	--color-4: hsl(150 2% 17%);
	--color-5: hsl(204 8% 76%);
   --background: hsl(0 0% 0%);
   --background-trans: hsla(0, 0%, 0%, 0.38)
}
body {
	margin: 0;
	min-height: 100vh;
	background: var(--background);
}
.hero {
	margin: 0 auto;
	min-width: 350px;
	max-width: 700px;
	height: 400px;
	background-color: var(--background);
	background-position: top;
	background-image: url(./images/restaurant.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.banner {
	font-family: "Special Elite", cursive;
	color: var(--logo-color);

	display: flex;
	flex-direction: column;
	align-items: center;
}
.emblem {
	--size: 72px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 20px;
	border: calc(var(--size) * 0.04) solid;
	border-radius: 500px;
	padding: 0;
	text-align: center;
	height: calc(var(--size) * 1.125);
	width: calc(var(--size) * 1.125);
	user-select: none;
	background-color: var(--background);
}
.emblem p {
	font-size: var(--size);
	padding-top: calc(var(--size) / 3.5);
}
.logo {
	margin: 0 auto;
	padding: 6px 6px 0;
	background-color: var(--background);
	text-align: center;
}

.home {
	margin: 0 auto;
	background-color: var(--color-3);
	height: 300px;
	max-width: 700px;
}
.home p {
	background-color: var(--background-trans);
	text-align: center;
	margin: 0 auto;
	font-family: "Josefin Slab", serif;
	font-size: 22px;
	color: var(--color-5);
	max-width: 35ch;
	padding: 16px 0;
}
